<a href="https://colab.research.google.com/github/Aleman001/Programacion-III-2022/blob/main/Laboratio_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Laboratotio 2

**Integrantes: **
**1.   Wilson Adolfo Jovel Guitierrez USIS016519 Grupo: A2ISP03**
**2.   Marvin Miguel Peñalba Escobar USIS060119 Grupo:A1ISP03**
**3.   Cristian Alexander Aleman Rodriguez USIS06019 Grupo:A1ISP03**
**4.   José Pedro Cerna Serrano USIS058619 Grupo:A1ISP03**

Conversores

In [ ]:
unidadesC = [
    [1.00,8.75,7.77, 24.03,34.8,611.10,0.82,19.93,105.00,5.39],                                               #monedas //0
    [1.0, 100.0,39.37,3.28,0.001,1.093613,0.000621,0.836,0.0001,1.000],                                       #longitud //1
    [1.0,16.00,0.453592,4.535924,453.5924,45.35924,4535.924,45359.24,453592.4,0.0005],                        #masa //2
    [1.0,0.68,7.629395,8.0,976.5625,0.953674,0.008,0.001,0.000008,0.000001],                                  #almacenamiento //3
    [1.0,60.0,3600.0,3600000.0,3600000000.0,0.041667,0.005952,0.000114,1.14155e-5,1.14155e-6],                #tiempo //4
    [1.0,33.8,274.15],                                                                                        #temperatura //5
    [1.0,0.333333,0.166667,0.0200833,0.005208,0.001302,0.004929,4.928922,4.928922,0.000005],                  #volumen //6
    [1.0,0.111111,0.000000035870064,144.0,0.00000009290304,0.000009,0.092903,929.0304,92903.04,0.000024],     #area //7
]

In [ ]:
nombresC = [
    ['Dolar', "ColonSv", "Quetzal", "Lempira", "Cordoba", "Colon(CR)", "Euro",                  #monedas//0
     "Peso(Mx)", "Yen(Jp)", "Real(Br)"],                                                        
    ["Metro", "Centimetro", "Pulgada", "Pie", "Kilonetro", "Yarda", "Milla",                     #longitud//1
     "Vara", "Hectarea", "Milimetro"],
    ["Libra", "Onza", "Kilogramo", "Hectogramo", "Gramo", "Decagramo", "Decigramo",              #masa//2
     "Centigramo", "Miligramo", "Tonelada Corta(USA)"],
    ["Megabytes", "Diskettes", "Mebibits", "bits", "Kibibytes", "Mebibytes",                     #almacenamiento//3
     "Gigabits", "Gigabytes", "Terabits", "Terabytes"],
    ["Hora", "Minutos", "Segundos", "Milisegundos", "Microsegundos", "Días",                     #tiempo//4
     "Semana", "Años", "Decada", "Siglo"],
    ["Celsius", "Fahrenheit", "Kelvin"],                                                         #temperatura//5
    ["Cucharaditas", "Cuchardas", "Onzas Líquidas", "Tazas", "Cuartos de Galón",                 #volumen//6
     "Galones", "Litros", "Mililitros", "Centímetros Cúbicos", "Metros Cúbicos"],                #area//7
    ["Pies Cuadrados", "Yardas Cuadradas", "Milla Cuadradas", "Pulgadas Cuadradas",
     "Kilómetros Cuadradas", "Hectáreas", "Metros Cuadrados", "Centímetros Cuadrados",
     "Milímetros Cuadrados", "Acres"]
]

In [ ]:
#@title
def convertir(de, a, cantidad, u):
  return unidadesC[u][a] / unidadesC[u][de] * cantidad

In [ ]:
def datos (con):
  if con != 5:
    de = int(input("de: ")) 
    a = int(input("a: "))
    cantidad = float(input("Cantidad: "))
    return print(cantidad, nombresC[con][de],'es: ', convertir(de,a,cantidad,con), nombresC[con][a]) 

  else:
    de = int(input("de: "))
    a = int(input("a: "))
    cantidad = float(input("Cantidad: "))
    return print(cantidad, nombresC[con][de], 'es: ',temperatura(de,a,cantidad,a),nombresC[con][a])

In [ ]:
def menu(i, con):
  if con != 5:    
    while(i<=9):
      print(i, "- ",nombresC[con][i],"\n")
      i+=1
  else:
    while(i<=2):
      print(i,"- ",nombresC[con][i],"\n")
      i+=1

In [ ]:
from contextlib import nullcontext
def datosT ():
  de = int(input("de: "))
  a = int(input("a: "))
  cantidad = float(input("Cantidad: "))
  return print(cantidad, nombresC[con][de], 'es: ',temperatura(de,a,cantidad,a),nombresC[con][a])

In [ ]:
def temperatura (de, a, cantidad, temp):

  if de == 0 and a == 1:
    temp = (cantidad * 9 / 5) + 32

  elif de == 0 and a == 2:
    temp = (cantidad + 273.15)

  elif de == 1 and a == 0:
    temp = (cantidad - 32) * 5 / 9
  
  elif de == 1 and a == 2:
    temp = ( cantidad - 32) * 5 / 9 + 273.15

  elif de == 2 and a == 0:
    temp = ( cantidad - 273.15)

  elif de ==2 and a == 1:
    temp = ( cantidad - 273.15) * 9 / 5 + 32
  
  return temp

In [ ]:
print("Seleccione que tipo de conversor")
print("0- Monedas")
print("1- Longitud")
print("2- Masa")
print("3- Almacenamiento")
print("4- Tiempo")
print("5- Temperatura")
print("6- Volumen")
print("7- Area")

Seleccione que tipo de conversor
0- Monedas
1- Longitud
2- Masa
3- Almacenamiento
4- Tiempo
5- Temperatura
6- Volumen
7- Area

In [ ]:

i = 0
con = int(input("Ingrese seleccion: "))
if con==0:
  menu(i,con)
  datos(con)

elif con==1:
  menu(i,con)
  datos(con)

elif con==2:
  menu(i,con)  
  datos(con)

elif con==3:
  menu(i,con)
  datos(con)

elif con==4:
  menu(i,con)
  datos(con)

elif con==5:
  menu(i,con)
  datos(con)

elif con==6:
  menu(i,con)
  datos(con)

elif con==7:
  menu(i,con)
  datos(con)

Ingrese seleccion: 0
0 -  Dolar

1 -  ColonSv

2 -  Quetzal

3 -  Lempira

4 -  Cordoba

5 -  Colon(CR)

6 -  Euro

7 -  Peso(Mx)

8 -  Yen(Jp)

9 -  Real(Br)

de: 9
a: 0
Cantidad: 10
10.0 Real(Br) es:  1.855287569573284 Dolar

Precio del agua

In [ ]:
def precios (m3, precio):
  exc1, exc2 = 18, 28
  val1, val2 = 0.45, 0.65
  cumi = 6.00
  valexc1 = 4.50

  if m3 >= 1 and m3 <= 18:
    precio = cumi
  
  elif m3 >=19 and m3 <= 28:
    precio = ((m3 - exc1) * val1) + cumi

  elif m3 >=29:
    precio = ((m3 - exc2) * val2) + valexc1 + cumi

  return precio

In [ ]:

m3 = float(input("Ingrese la cantidad de metros cubicos: "))

print("su total a pagar es: ", precios(m3,m3), " dolares.")

Ingrese la cantidad de metros cubicos: 150
su total a pagar es:  89.8  dolares.

*********************************************************************
*********************CALCULANDO SALARIO******************************
*********************************************************************

In [ ]:

t1From, t1To, t1Per, t1Off, t1C = 472.01, 895.24, 0.10, 472.00, 17.67
t2From, t2To, t2Per, t2Off, t2C = 895.25, 2038.10, 0.20, 825.24, 60.00
t3From, t3Per, t3Off, t3C = 2038.11, 0.30, 2038.10, 288.57

In [ ]:
def printData(dafp,disss,renta,finalsueldo,):
    print("descuento AFP: ", dafp, '\n', 
     "descuento ISSS: ", disss,'\n',
     "descuento Renta: ",renta,'\n',
     "Sueldo final: ", finalsueldo)

In [ ]:

isss, afp = 0.03, 0.0625
r = 0.00
usueldo = float(input("Ingrese su sueldo: "))
disss = round(usueldo * isss,2)
dafp = round(usueldo * afp,2)
finalsueldo = round(usueldo-disss-dafp,2)

if finalsueldo <= 472.00:
  printData(dafp,disss,r,finalsueldo)
elif finalsueldo >= t1From and finalsueldo <= t1To:
  s = round((finalsueldo - t1Off)*t1Per + t1C,2)
  finalsueldo -= s
  printData(dafp,disss,s,finalsueldo)
elif finalsueldo >= t2From and finalsueldo <= t2To:
  s = round((finalsueldo - t2Off)*t2Per + t2C,2)
  finalsueldo -= s
  printData(dafp,disss,s,finalsueldo)
elif finalsueldo >= t3From:
  s = round((finalsueldo - t3Off)*t3Per + t3C,2)
  finalsueldo -= s
  printData(dafp,disss,s,finalsueldo)

Ingrese su sueldo: 100000000
descuento AFP:  6250000.0
 descuento ISSS:  3000000.0
 descuento Renta:  27224677.14
 Sueldo final:  63525322.86